.task-item {
  display: flex;
  background: #FFF3E0;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  position: relative;
}

.task-item input{
  margin-right: 10px;
  cursor: pointer;
  align-self: center;
}

.task-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 1.4em;
  margin-right: 10px;
  word-break: break-word;
}

.task-text span:first-child {
  margin-bottom: 5px;
}

.task-completed span:first-child {
  text-decoration: line-through;
  color: #2E7D32;
}

.task-delete {
  position: absolute;
  bottom: 5px;
  right: 10px;
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
}

.task-date {
  font-size: 14px;
  color: #666;
}